<%- include('../../layout/head')  %> 


<body>
    <%- include('../../layout/header')  %> 

    <h2>Search By Title or Author</h2>
    <main>
        <form action="/searches" method="POST">
            <input type="text" name="searchFor" id="searchBy" placeholder="Enter a title or an author" />
            <div class="formDiv">
                <label for="title">Title</label>
                <input type="radio" name="searchIn" id="intitle" checked/>
            </div>
            <div class="formDiv">
                <label for="title">Author</label>
                <input type="radio" name="searchIn" id="inauthor" />
            </div>
            <button>Search The Google Books API</button>
        </form>
    </main>
    
    <%- include('../../layout/footer')  %> 
</body>

</html>