<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">


</head>

<body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <h2>Search Results</h2>
    <main>
        <div class="container">

            <div class="forEach">
                <% booksArray.forEach(book=>{%>

                    <img src="<%=book.image%> " class="img">
                    <h3>
                        <%= book.title %>
                    </h3>
                    <h4>
                        <%= book.author %>
                    </h4>
                    <p>
                        <%= book.description%>
                    </p>
                    <% }) %>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>