<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">

</head>

<body>
    <header>
        <h2>Books App</h2>
    </header>
    <nav>
        <ul>

            <a href="/">
                <li>Home</li>
            </a>
            <a href="searches/new">
                <li>Search</li>
            </a>

        </ul>
    </nav>



</body>

</html>