<header>
    <h1>Books App</h1>
<nav>
    <ul>

        <a href="/">
            <li>Home</li>
        </a>
        <a href="searches/new">
            <li>Search</li>
        </a>

    </ul>
</nav>
</header>