<%- include('../layout/head')  %> 


<body>
    <a href="/"> Home Page</a>
    <%- include('./detail')  %> 
    <%- include('./edit.ejs')  %> 
    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../app.js"></script>
    </footer>
</body>
</html>